<div class="theme-layout" id="scrollup">
	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="/jobhunt/images/icon.png" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="/jobhunt/images/icon2.png" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<!-- <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->
				<ul class="account-btns">
					<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

				
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Startups</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li> 
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Home</a>
							<ul>
								<li><a href="/jobhunt/index.html" title="">Home Layout 1</a></li>
								<li><a href="/jobhunt/index2.html" title="">Home Layout 2</a></li>
								<li><a href="/jobhunt/index3.html" title="">Home Layout 3</a></li>
								<li><a href="/jobhunt/index4.html" title="">Home Layout 4</a></li>
								<li><a href="/jobhunt/index5.html" title="">Home Layout 5</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
							<ul>
								<li><a href="/jobhunt/employer_list1.html" title=""> Employer List 1</a></li>
								<li><a href="/jobhunt/employer_list2.html" title="">Employer List 2</a></li>
								<li><a href="/jobhunt/employer_list3.html" title="">Employer List 3</a></li>
								<li><a href="/jobhunt/employer_list4.html" title="">Employer List 4</a></li>
								<li><a href="/jobhunt/employer_single1.html" title="">Employer Single 1</a></li>
								<li><a href="/jobhunt/employer_single2.html" title="">Employer Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Employer Dashboard</a>
									<ul>
										<li><a href="/jobhunt/employer_manage_jobs.html" title="">Employer Job Manager</a></li>
										<li><a href="/jobhunt/employer_packages.html" title="">Employer Packages</a></li>
										<li><a href="/jobhunt/employer_post_new.html" title="">Employer Post New</a></li>
										<li><a href="/jobhunt/employer_profile.html" title="">Employer Profile</a></li>
										<li><a href="/jobhunt/employer_resume.html" title="">Employer Resume</a></li>
										<li><a href="/jobhunt/employer_transactions.html" title="">Employer Transaction</a></li>
										<li><a href="/jobhunt/employer_job_alert.html" title="">Employer Job Alert</a></li>
										<li><a href="/jobhunt/employer_change_password.html" title="">Employer Change Password</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
							<ul>
								<li><a href="/jobhunt/candidates_list.html" title="">Candidates List 1</a></li>
								<li><a href="/jobhunt/candidates_list2.html" title="">Candidates List 2</a></li>
								<li><a href="/jobhunt/candidates_list3.html" title="">Candidates List 3</a></li>
								<li><a href="/jobhunt/candidates_single.html" title="">Candidates Single 1</a></li>
								<li><a href="/jobhunt/candidates_single2.html" title="">Candidates Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Candidates Dashboard</a>
									<ul>
										<li><a href="/jobhunt/candidates_my_resume.html" title="">Candidates Resume</a></li>
										<li><a href="/jobhunt/candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
										<li><a href="/jobhunt/candidates_profile.html" title="">Candidates Profile</a></li>
										<li><a href="/jobhunt/candidates_shortlist.html" title="">Candidates Shortlist</a></li>
										<li><a href="/jobhunt/candidates_job_alert.html" title="">Candidates Job Alert</a></li>
										<li><a href="/jobhunt/candidates_dashboard.html" title="">Candidates Dashboard</a></li>
										<li><a href="/jobhunt/candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
										<li><a href="/jobhunt/candidates_change_password.html" title="">Change Password</a></li>
										<li><a href="/jobhunt/candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Blog</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Blog</a>
							<ul>
								<li><a href="/jobhunt/blog_list.html"> Blog List 1</a></li>
								<li><a href="/jobhunt/blog_list2.html">Blog List 2</a></li>
								<li><a href="/jobhunt/blog_list3.html">Blog List 3</a></li>
								<li><a href="/jobhunt/blog_single.html">Blog Single</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Job</a>
							<ul>
								<li><a href="/jobhunt/job_list_classic.html">Job List Classic</a></li>
								<li><a href="/jobhunt/job_list_grid.html">Job List Grid</a></li>
								<li><a href="/jobhunt/job_list_modern.html">Job List Modern</a></li>
								<li><a href="/jobhunt/job_single1.html">Job Single 1</a></li>
								<li><a href="/jobhunt/job_single2.html">Job Single 2</a></li>
								<li><a href="/jobhunt/job-single3.html">Job Single 3</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Pages</a>
							<ul>
								<li><a href="/jobhunt/about.html" title="">About Us</a></li>
								<li><a href="/jobhunt/404.html" title="">404 Error</a></li>
								<li><a href="/jobhunt/contact.html" title="">Contact Us 1</a></li>
								<li><a href="/jobhunt/contact2.html" title="">Contact Us 2</a></li>
								<li><a href="/jobhunt/faq.html" title="">FAQ's</a></li>
								<li><a href="/jobhunt/how_it_works.html" title="">How it works</a></li>
								<li><a href="/jobhunt/login.html" title="">Login</a></li>
								<li><a href="/jobhunt/pricing.html" title="">Pricing Plans</a></li>
								<li><a href="/jobhunt/register.html" title="">Register</a></li>
								<li><a href="/jobhunt/terms_and_condition.html" title="">Terms & Condition</a></li>
							</ul>
						</li>
					</ul>
			</div>
		</div>
	</div>

	<header class="stick-top forsticky">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="index.html" title=""><img class="hidesticky" src="http://placehold.it/178x40" alt="" /><img class="showsticky" src="http://placehold.it/178x40" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<!-- <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->
					<ul class="account-btns">
						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
					
						<li class="signup-popup"><a title=""><i class="la la-key"></i> Startups</a></li>
						<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item">
							<a href="#" title="Home">Home</a>
						<li>
						<li class="menu-item">
							<a href="#" title="About Us">About Us</a>
						<li>
						<li class="menu-item">
							<a href="#" title="Why Intern at Startup">Why Intern at Startup</a>
						<li>
						<li class="menu-item">
							<a href="#" title="Testimonies">Testimonies</a>
						<li>
						<li class="menu-item">
							<a href="#" title="Top Recruiters Statistics">Top Recruiters Statistics</a>
						<li>
						<li class="menu-item">
							<a href="#" title="Message from Advisor">Message from Advisor</a>
						<li>
						<li class="menu-item">
							<a href="#" title="Contact Us">Contact Us</a>
						<li>

				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<% include othersections.ejs %>