<html>
<head>
    <title><%= name %></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app">
    <h1>{{ message }}</h1>
    <button @click="toggleButton">dost</button>
    <div v-if="isShow" v-for="name in list">
        my friend is {{name}}
    </div>
    <input v-model="username" type="text" placeholder="username">
    <button @click="loadData">
        getData
    </button>
    <img :src="image_url">
</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '<%= name %>',
            isShow: true,
            username: "joeydash",
            list: ["joeydash", "tapish", "rudra"],
            image_url: ""
        },
        methods: {
            toggleButton: () => {
                app.isShow = !app.isShow;
            },
            loadData: () => {
                axios.get('https://api.github.com/users/' + app.username)
                    .then(function (response) {
                        app.image_url = response.data.followers_url;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>


</body>
</html>
