<div class="col-lg-12 column" id="startup_manage_app">


    <div>
        <div class="manage-jobs-sec">
            <h3>Manage Internships</h3>
            <div class="btn-extars" style="margin-top: -60px">
                <a href="/startup/post_internship" title="" class="post-job-btn"><i class="la la-plus"></i>Post
                    Internship</a>
            </div>
            <!-- <div class="btn-extars" style="margin-top: -60px">
                <a href="/startup/post_internship" title="" class="post-job-btn"><i class="la la-plus"></i>Post Internship</a>

            </div> -->
            <div class="extra-job-info">
                <span><i class="la la-users"></i><strong>{{offered_internship_list.length}}</strong> Internships Posted</span>
                <!--<span><i class="la la-users"></i><strong>0</strong> Application</span>-->
            </div>
            <table>
                <thead>
                <tr>

                    <td>Title</td>
                    <td>Applications</td>
                    <td>Action</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="offered_internship in offered_internship_list">
                    <td>
                        <div class="table-list-title">
                            <h3><a title="" @click="view_internship(offered_internship.id)">{{offered_internship.internship_profile}}</a>
                            </h3>
                            <span><i class="la la-map-marker"></i>{{offered_internship.location}}</span>
                        </div>
                    </td>
                    <td>
                        <span class="applied-field"><a :href="'/startup/internship_applied/'+offered_internship.id">{{offered_internship.internshipApplyTablesByinternshipId.length}} Applied</a></span>
                    </td>


                    <td>
                        <ul class="action_job">
                            <li><span>View Internship</span><a href="#" title=""
                                                        @click="view_internship(offered_internship.id)"><i
                                            class="la la-eye"></i></a></li>
                            <li v-if="offered_internship.status!=='live'"><span>Edit Internship</span><a title="edit"
                                                                                              @click="edit_internship(offered_internship.id)"><i
                                            class="la la-pencil"></i></a></li>
                            <li v-if="offered_internship.status!=='live'"><span>Delete Internship</span><a href="#" title=""
                                                                                                @click="delete_internship(offered_internship.id)"><i
                                            class="la la-trash-o"></i></a></li>
                        </ul>
                    </td>
                    <td>
                        <span class="applied-field"> {{offered_internship.status}}</span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let startup_manage_app = new Vue({
        el: "#startup_manage_app",
        data: {
            offered_internship_list: [],
        },
        methods: {
            load_offered_internship_list: () => {
                let reqBody = {
                    query_string: '{\n' +
                        '  startup_post(where: {startup_details_id: {_eq: 201}}) {\n' +
                        '    internship_profile\n' +
                        '    location\n' +
                        '    status\n' +
                        '    id\n' +
                        '    internshipApplyTablesByinternshipId{\n' +
                        '      id\n' +
                        '    }\n' +
                        '  }\n' +
                        '}'
                };
                axios.post('/db/startup', reqBody)
                    .then(function (response) {
                        console.log(JSON.stringify(response.data));
                        if (response.data.data !== undefined) {
                            console.log("joeydash");

                            console.log(JSON.stringify(response.data));
                            startup_manage_app.offered_internship_list = response.data.data.startup_post;
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            delete_internship: (id) => {
                let reqBody = {
                    query_string: 'mutation {\n' +
                        '  delete_startup_post(where: {id: {_eq: ' + id + '}}) {\n' +
                        '    affected_rows\n' +
                        '  }\n' +
                        '}\n'
                };
                axios.post('/db/startup', reqBody)
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.data !== undefined) {
                            if (response.data.data.delete_startup_post.affected_rows > 0) {
                                startup_manage_app.load_offered_internship_list();
                            }
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            edit_internship: (id) => {
                location.href = "/startup/edit_internship/" + id;
            },
            view_internship: (id) => {
                location.href = "/startup/internship_detail/" + id;
            }
        }, mounted: function () {
            this.$nextTick(function () {
                this.load_offered_internship_list();

            })
        }
    });
</script>
