<div id="navigation_app">
    <div class="responsive-header">
        <div class="responsive-menubar">
            <div class="res-logo"><a href="https://esummitiitm.com/" title=""><img src="/jobhunt/images/ecell2.png"
                                                                                   alt=""
                                                                                   height="40" width="170"/></a></div>
            <div class="menu-resaction">
                <div class="res-openmenu">
                    <img src="/jobhunt/images/icon.png" alt=""/> Menu
                </div>
                <div class="res-closemenu">
                    <img src="/jobhunt/images/icon2.png" alt=""/> Close
                </div>
            </div>
        </div>
        <div class="responsive-opensec">
            <% include navbar_btn_extra_fragment.ejs %>
            <!-- <form class="res-search">
                <input type="text" placeholder="Job title, keywords or company name" />
                <button type="submit"><i class="la la-search"></i></button>
            </form> -->
            <div class="responsivemenu">
                <ul>
                    <li class="menu-item">
                        <a href="/" title="Home">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about" title="About Us">About Us</a>
                    </li>
                    <li class="menu-item">
                        <a href="/whyintern" title="Why Intern at Startup">Why Intern at Startup</a>
                    </li>
                    <!-- <li class="menu-item">
                        <a href="#" title="Testimonies">FAQs</a>
                    </li> -->
                    <li class="menu-item">
                        <a href="/policy" title="Top Recruiters Statistics">Policy</a>
                    </li>
                    <!-- <li class="menu-item">
                        <a href="#" title="Message from Advisor">Message from Advisor</a>
                    </li> -->
                    <li class="menu-item">
                        <a href="/contact_us" title="Contact Us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <header class="stick-top forsticky">
        <div class="menu-sec">
            <div class="container">
                <div class="logo">
                    <a href="https://esummitiitm.com/" title=""><img class="hidesticky" src="/jobhunt/images/ecell2.png"
                                                                     alt="" height="40" width="170"/><img
                                class="showsticky"
                                src="/jobhunt/images/ecell1.png"
                                alt="" height="40"
                                width="170"/></a>
                </div><!-- Logo -->
                <% include navbar_btn_extra_fragment.ejs %>
                <nav>
                    <ul>
                        <li class="menu-item">
                            <a href="/" title="Home">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="/about" title="About Us">About Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="/whyintern" title="Why Intern at Startup">Why Intern at Startup</a>
                        </li>
                        <!--  <li class="menu-item">
                             <a href="#" title="Testimonies">FAQs</a>
                         </li> -->
                        <li class="menu-item">
                            <a href="/policy" title="Policy">Policy</a>
                        </li>
                        <!-- <li class="menu-item">
                            <a href="#" title="Message from Advisor">Message from Advisor</a>
                        </li> -->
                        <li class="menu-item">
                            <a href="/contact_us" title="Contact Us">Contact Us</a>
                        </li>
                    </ul>
                </nav><!-- Menus -->
            </div>
        </div>
    </header>
</div>


<%include logic_script.ejs%>