<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
				 					<li class="inner-child">
				 						<a href="/candidates_profile" title=""><i class="la la-user"></i>Dashboard</a>
				 						
				 					</li>
				 					<li class="inner-child">
				 						<a href="/candidates_applied_jobs" title=""><i class="la la-briefcase"></i>Applied Internships</a>
				 					</li>
				 					<li class="inner-child">
				 						<a href="/candidates_shortlist" title=""><i class="la la-money"></i>Shortlisted</a>
				 					</li>
				 					
				 					<li class="inner-child">
				 						<a href="/job_list" title=""><i class="la la-file-text"></i>View Internships </a>
				 					</li>
				 					<li class="inner-child">
				 						<a href="/candidates_bookmarks" title=""><i class="la la-flash"></i>Bookmarks</a>
				 						
				 					</li>
				 					<li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
				 				</ul>
				 			</div>
				 		</div>