<!DOCTYPE html>
<html>
<head>
    <% include ../common/header.ejs %>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../common/navigation/navbar_light.ejs %>

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url(jobhunt/images/home4.jpeg) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Welcome Tera Planer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <% include ../common/dashboard.ejs %>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <h3>Bookmarks</h3>
                                <table>
                                    <thead>
                                    <tr>
                                        <td>Applied Internships</td>
                                        <td>Position</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="table-list-title">
                                                <i>Massimo Artemisis</i><br/>
                                                <span><i class="la la-map-marker"></i>Sacramento, California</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            </div>
                                        </td>

                                        <td>
                                            <ul class="action_job">
                                                <li><span>Delete</span><a href="#" title=""><i
                                                                class="la la-trash-o"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../common/footer.ejs %>

</div>

<% include ../common/login.ejs %>

<% include ../common/signup.ejs %>

</body>
</html>