<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>InternFair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">
    <meta name="google-signin-client_id"
          content="869757478663-gnlmvb29d5mduo26mrq595svsojrgsus.apps.googleusercontent.com">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/jobhunt/css/icons.css">
    <link rel="stylesheet" href="/jobhunt/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/chosen.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/colors/colors.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../common/navigationbar.ejs %>

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(jobhunt/images/home4.jpeg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Welcome Ali TUFAN</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-top">
            <div class="container">
                 <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <% include ../home/candidates_dashboard.ejs %>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <h3>Shortlisted Internships</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Applied Internships</td>
                                            <td>Position</td>
                                            <td>Status</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="table-list-title">
                                                    <i>Massimo Artemisis</i><br />
                                                    <span><i class="la la-map-marker"></i>Sacramento, California</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div class="table-list-title">
                                                    <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    
                 </div>
            </div>
        </div>
    </section>

<% include ../common/footer.ejs %>

</div>

<% include ../common/login.ejs %>

<% include ../common/signup.ejs %>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/jobhunt/js/jquery.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/modernizr.js" type="text/javascript"></script>
<script src="/jobhunt/js/script.js" type="text/javascript"></script>
<script src="/jobhunt/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/wow.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/slick.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/parallax.js" type="text/javascript"></script>
<script src="/jobhunt/js/select-chosen.js" type="text/javascript"></script>


</body>
</html>