<!DOCTYPE html>
<html>
<head>
<%include ../common/header.ejs%>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../common/navbar_dark.ejs%>

    <section >
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Contact Us</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row team-items">
                <div class="col-md-4 single-item" style="margin-left: 100px">
                    <div class="item sized">
                        <div class="thumb">
                            <img class="img-fluid" src="/jobhunt/images/Saurabh Jain.png" alt="Thumb">
                            <div class="overlay">
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/saurabhjain2799"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://www.linkedin.com/in/saurabhjain2799/"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Saurabh Jain</h4>
                            <span style="font-size: 12px;">Head | StartUp Internship</span><br>
                            <span style="font-size: 12px;">E-Cell, IIT Madras</span>
                            <h4 style="font-size: 12px;">intern_ecell@smail.iitm.ac.in</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 single-item" style="margin-right: -200px;">

                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img class="img-fluid" src="/jobhunt/images/Mukund.png" alt="Thumb">
                            <div class="overlay">
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/mukund.khandelwal.750"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://www.linkedin.com/in/muku-03/"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                                <span class="message">
                                    <a href="#"><i class="fas fa-envelope-open"></i></a>
                                </span>
                            <h4>Mukund Khandelwal</h4>
                            <span style="font-size: 12px;">Head | StartUp Internship</span><br>
                            <span style="font-size: 12px;">E-Cell, IIT Madras</span>
                            <h4 style="font-size: 12px;">intern_ecell@smail.iitm.ac.in</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                       <center> <img src="/jobhunt/images/Mukund.png" width="300px" height="350px"> </center>
                    </div>
                    <div class="col-lg-6">
                       <center> <img src="/jobhunt/images/Saurabh Jain.png" width="300px" height="350px"> </center>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <% include ../common/footer.ejs %>

</div>

<% include ../common/login.ejs %>

<% include ../common/signup.ejs %>



</body>
</html>