<!DOCTYPE html>
<html>
<head>
    <%include ../common/header.ejs%>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../common/navigationbar.ejs %>
    <!-- MENU -->
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(jobhunt/images/home3.jpeg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Welcome Tera Planer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                 <div class="row no-gape">
                    <!-- <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                <ul>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-file-text"></i>Company Profile</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-money"></i>Transactions</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-paper-plane"></i>Resumes</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-user"></i>Packages</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-file-text"></i>Post a New Job</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-flash"></i>Job Alerts</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-lock"></i>Change Password</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside> -->
                    <div class="col-lg-12 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Post a New Internship</h3>
                                <!-- <div class="steps-sec">
                                    <div class="step active">
                                        <p><i class="la la-info"></i></p>
                                        <span>Information</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la la-cc-mastercard"></i></p>
                                        <span>Package & Payments</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la  la-check-circle"></i></p>
                                        <span>Done</span>
                                    </div>
                                </div> -->
                            </div>
                            <div class="profile-form-edit">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Internship Title</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Designer" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Description</span>
                                            <div class="pf-field">
                                                <textarea>Spent several years working on sheep on Wall Street. Had moderate success investing in Yugos on Wall Street. Managed a small team buying and selling pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed severalnew methods for working with banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer ollaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12"><span style="font-size: 12px;">Add Attachment</span><br><br>
                                        <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form></div>
                                        <!-- <div class="col-lg-6">
                                            <span class="pf-title">Email</span>
                                            <div class="pf-field">
                                                <input type="text" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Username</span>
                                            <div class="pf-field">
                                                <input type="text" />
                                            </div>
                                        </div> -->
                                        <div class="col-lg-6">
                                            <span class="pf-title">Internship Profile</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" class="chosen">
                                                    <option>Web Development</option>
                                                    <option>Web Designing</option>
                                                    <option>Art & Culture</option>
                                                    <option>Reading & Writing</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Duration</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" class="chosen">
                                                    <option>4 Week</option>
                                                    <option>5 Week</option>
                                                    <option>6 Week</option>
                                                    <option>7 Week</option>
                                                    <option>8 Week</option>
                                                    <option>9 Week</option>
                                                    <option>10 Week</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Stipend (per month)</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="15000 INR" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Number of Interns</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="9-10" />
                                            </div>
                                        </div>

                                        <!-- <div class="col-lg-12">
                                            <span class="pf-title">Application Deadline Date</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="01.11.207" class="form-control datepicker" />
                                            </div>
                                        </div> -->
                                        <div class="col-lg-6">
                                            <span class="pf-title">Location</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Eg: Work from Home, Gurgaon etc." />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">IITM Research Park Startup</span>
                                            <div class="pf-field">
                                                <select data-placeholder="No" class="chosen">
                                                    <option>No</option>
                                                    <option>Yes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Skills Requirement </span>
                                            <div class="pf-field">
                                                <textarea placeholder="Eg: Python, C++ "></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Specific Requirements (if any)</span>
                                            <div class="pf-field">
                                                <textarea placeholder="Eg: Should have experience in Raspberry Pi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Accomodation</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Eg: No, Guest House" />

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Travel Allowance</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Eg: No, Flight" />
                                            </div>
                                        </div>
                                         <div class="col-lg-12">
                                            <span class="pf-title">Other Incentives (if any)</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Eg: Food Allowance, 5-Days a week, Informal Dress-Code" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Complete Address</span>
                                            <div class="pf-field">
                                                <textarea placeholder="Collins Street West, Victoria 8007, Australia."></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="contact-edit">
                                <form>
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <button type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>

    <% include ../common/footer.ejs %>

</div>

<% include ../common/login.ejs %>

<% include ../common/signup.ejs %>

<script src="/jobhunt/js/jquery.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/modernizr.js" type="text/javascript"></script>
<script src="/jobhunt/js/script.js" type="text/javascript"></script>
<script src="/jobhunt/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/wow.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/slick.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/parallax.js" type="text/javascript"></script>
<script src="/jobhunt/js/select-chosen.js" type="text/javascript"></script>
<script src="/jobhunt/js/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/tag.js" type="text/javascript"></script>
<script src="/jobhunt/js/maps3.js" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYc537bQom7ajFpWE5sQaVyz1SQa9_tuY&sensor=true&libraries=places"></script>

<!-- Include Date Range Picker -->
<link rel="stylesheet" type="text/css" href="/jobhunt/css/bootstrap-datepicker.css" />
<script src="/jobhunt/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script>
        $(function(){
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy'
            });
        });



</script>


</body>
</html>
