<!DOCTYPE html>
<html>
<head>
    <% include ../common/header.ejs %>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../common/navigation/navbar_light.ejs %>
    <!-- MENU -->
    <div class="block no-padding">
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-featured-sec">
                        <ul class="main-slider-sec text-arrows">
                            <li class="slideHome"><img src="jobhunt/images/home.jpeg" alt="" height="800" width="1600"/>
                            </li>
                            <li class="slideHome"><img src="jobhunt/images/home1.jpeg" alt="" height="800"
                                                       width="1600"/></li>
                            <li class="slideHome"><img src="jobhunt/images/home2.jpeg" alt="" height="800"
                                                       width="1600"/></li>
                        </ul>
                        <div class="job-search-sec">
                            <div class="job-search">
                                <center><img src="jobhunt/images/21.png" alt="" height="200" width="200"/></center>
                                <br>
                                <h4 style="font-size: 40px;animation: type 4s steps(60, end); ">Looking for Internships?
                                    We've got you! What you're seeking is seeking you...</h4><!--
                                    <span>Find Jobs, Employment & Career Opportunities</span>
 -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include testimonies_fragment.ejs %>

    <!--<section>-->
    <!--<div class="block">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--<div class="stats-sec style2">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">-->
    <!--<div class="stats">-->
    <!--<span>18</span>-->
    <!--<h5>Jobs Posted</h5>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">-->
    <!--<div class="stats">-->
    <!--<span>38</span>-->
    <!--<h5>Jobs Filled</h5>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">-->
    <!--<div class="stats">-->
    <!--<span>67</span>-->
    <!--<h5>Companies</h5>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">-->
    <!--<div class="stats">-->
    <!--<span>92</span>-->
    <!--<h5>Members</h5>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading">
                            <h2>StartUps We've Helped</h2>
                            <!-- <span>Some of the companies we've helped recruit excellent applicants over the years.</span> -->
                        </div><!-- Heading -->
                        <div class="comp-sec">
                            <div class="company-img">
                                <a title=""><img src="/jobhunt/images/7.png" alt="" height="100" width="180"/></a>
                            </div><!-- Client  -->
                            <div class="company-img">
                                <a title=""><img src="/jobhunt/images/1.jpeg" alt="" height="80" width="180"/></a>
                            </div><!-- Client  -->
                            <div class="company-img">
                                <a title=""><img style="margin-top: -35px;" src="/jobhunt/images/4.jpeg" alt=""
                                                 height="150" width="180"/></a>
                            </div><!-- Client  -->
                            <div class="company-img">
                                <a href="#" title=""><img src="/jobhunt/images/5.jpeg" alt="" height="80" width="180"/></a>
                            </div><!-- Client  -->
                            <div class="company-img">
                                <a href="#" title=""><img src="/jobhunt/images/6.jpeg" alt="" height="100" width="180"/></a>
                            </div><!-- Client  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<section>-->
        <!--<div class="block">-->
            <!--<div data-velocity="-.1"-->
                 <!--style="background: url(http://placehold.it/1920x655) repeat scroll 50% 422.28px transparent;"-->
                 <!--class="parallax scrolly-invisible no-parallax"></div>-->
            <!--PARALLAX BACKGROUND IMAGE-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<div class="heading">-->
                            <!--<h2>Quick Career Tips</h2>-->
                            <!--<span>Found by employers communicate directly with hiring managers and recruiters.</span>-->
                        <!--</div>-->
                        <!--Heading-->
                        <!--<div class="blog-sec">-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-4">-->
                                    <!--<div class="my-blog">-->
                                        <!--<div class="blog-thumb">-->
                                            <!--<a href="#" title=""><img src="http://placehold.it/360x200" alt=""/></a>-->
                                            <!--<div class="blog-metas">-->
                                                <!--<a href="#" title="">March 29, 2017</a>-->
                                                <!--<a href="#" title="">0 Comments</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="blog-details">-->
                                            <!--<h3><a href="#" title="">Attract More Attention Sales And Profits</a></h3>-->
                                            <!--<p>A job is a regular activity performed in exchange becoming an employee,-->
                                                <!--volunteering, </p>-->
                                            <!--<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4">-->
                                    <!--<div class="my-blog">-->
                                        <!--<div class="blog-thumb">-->
                                            <!--<a href="#" title=""><img src="http://placehold.it/360x200" alt=""/></a>-->
                                            <!--<div class="blog-metas">-->
                                                <!--<a href="#" title="">March 29, 2017</a>-->
                                                <!--<a href="#" title="">0 Comments</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="blog-details">-->
                                            <!--<h3><a href="#" title="">11 Tips to Help You Get New Clients</a></h3>-->
                                            <!--<p>A job is a regular activity performed in exchange becoming an employee,-->
                                                <!--volunteering, </p>-->
                                            <!--<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4">-->
                                    <!--<div class="my-blog">-->
                                        <!--<div class="blog-thumb">-->
                                            <!--<a href="#" title=""><img src="http://placehold.it/360x200" alt=""/></a>-->
                                            <!--<div class="blog-metas">-->
                                                <!--<a href="#" title="">March 29, 2017</a>-->
                                                <!--<a href="#" title="">0 Comments</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="blog-details">-->
                                            <!--<h3><a href="#" title="">An Overworked Newspaper Editor</a></h3>-->
                                            <!--<p>A job is a regular activity performed in exchange becoming an employee,-->
                                                <!--volunteering, </p>-->
                                            <!--<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text">
                            <h3>Got a question?</h3>
                            <span>We're here to help. Check out our FAQs, send us an email intern_ecell@smail.iitm.ac.in or call us at +91-8559931413</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../common/footer.ejs %>

</div>

</body>
</html>

