<!DOCTYPE html>
<html>
<head>
    <% include ../common/header.ejs %>

</head>
<body>
<% include ../common/navigation/navbar_dark.ejs %>
<div class="page-loading">
    <img src="../../jobhunt/images/loader.gif" alt=""/>
    <!-- <span>Skip Loader</span> -->
</div>

<div class="theme-layout" id="scrollup">


    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Policies</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="terms-conditions">
                            <div class="terms">
                                <h2 style="font-size: 25px; text-align: center;">Startup policies</h2>
                                <ul>
                                    <p style="font-size: 15px;">1. It’s startups responsibility to ensure that there is
                                        no material difference between the internship details that are advertised on the
                                        portal and the details that are communicated to students later in the selection
                                        process (pre-interview, in the offer letter etc.). </p>

                                    <p style="font-size: 15px;">2. Startups are strictly prohibited from
                                        transferring/selling/sharing applicants’ data, for free
                                        or for a fee, to any other entity. Any such attempt would result in being
                                        permanently blocked and would be liable for legal action against you and your
                                        organization. We take our users’ data privacy and protection very seriously and
                                        have zero tolerance policy towards it.
                                    </p>
                                    <p style="font-size: 15px;">3. A startup must provide accurate and complete details
                                        about the organization and the internship – too brief or too vague a description
                                        of the organization, or internship profile results in poor quality internship
                                        post and hence may get declined.</p>

                                    <p style="font-size: 15px;">4. Startups applying through Internfair would not be
                                        allowed to approach the registered
                                        students outside the portal.
                                    </p>

                                    <p style="font-size: 15px;">5. The startup will have to shortlist the candidates who
                                        have applied for a particular profile in the respective startup within a given
                                        period of time.</p>

                                    <p style="font-size: 15px;">6. The startup has to submit the list of selected
                                        candidates within 3 days of the conducting interviews.</p>

                                    <p style="font-size: 15px;">7. After the acceptance of internship offer by the
                                        student, Entrepreneurship Cell IIT Madras will not be responsible for the
                                        performance of the Intern. Moreover, the discussion regarding how and when the
                                        stipend will be paid is a matter of mutual understanding between the startup and
                                        the student.</p>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="terms-conditions">
                            <div class="terms">
                                <h2 style="font-size: 25px; text-align: center;">Student Policies</h2>
                                <ul>
                                    <p style="font-size: 15px;">1. The students are expected to submit their details
                                        that are genuine and trustworthy. </p>

                                    <p style="font-size: 15px;">2. Students will be solely responsible for arranging and
                                        paying their travel, if necessary.
                                    </p>
                                    <p style="font-size: 15px;">3. The fee is non-refundable and Entrepreneurship Cell
                                        IIT Madras will not be responsible for any unexpected error during the payment
                                        process.</p>

                                    <p style="font-size: 15px;">4. Once registered and shortlisted for the interview,
                                        the student must be compulsorily present for the interview.

                                    <p style="font-size: 15px;">5. Once the student has accepted the Internship from a
                                        startup, they cannot reject the internship offer.</p>

                                    <p style="font-size: 15px;">6. Students applying through Internfair would not be
                                        allowed to approach the registered startups outside the portal. If found
                                        otherwise, the student would be breached from the portal.</p>

                                    <p style="font-size: 15px;">7. Any breach of the above rules in the process will
                                        result in Blacklisting of the student from the startup Internship portal.</p>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../common/footer.ejs %>

</div>


</body>
</html>

