<!DOCTYPE html>
<html>
<head>
    <% include ../common/header.ejs %>
    >
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../common/navigation/navbar_light.ejs %>
    <!-- MENU -->
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url(jobhunt/images/home3.jpeg) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Schedule</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <!-- <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                <ul>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-file-text"></i>Company Profile</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-money"></i>Transactions</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-paper-plane"></i>Resumes</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-user"></i>Packages</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-file-text"></i>Post a New Job</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-flash"></i>Job Alerts</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li class="inner-child">
                                        <a href="#" title=""><i class="la la-lock"></i>Change Password</a>
                                        <ul>
                                            <li><a href="#" title="">My Profile</a></li>
                                            <li><a href="#" title="">Social Network</a></li>
                                            <li><a href="#" title="">Contact Information</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside> -->
                    <div class="col-lg-12 column">


                        <div style="display: inline-flex; justify-content: left">
                            <div class="manage-jobs-sec">
                                <h3></h3>


                                <table class="extra-job-info">
                                    <thead>
                                    <tr>
                                        <td width="300px">Startup Name</td>
                                        <td width="200px">Profile</td>
                                        <td width="200px">Interview Date</td>
                                        <td width="200px">Time</td>
                                        <td width="200px">Venue</td>
                                        <td width="200px">Manager</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                                <span><i class="la la-map-marker"></i>Sacramento, California</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="applied-field">3+ Applied</span>
                                        </td>

                                        <td>
                                            <span class="status active">Active</span>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../common/footer.ejs %>

</div>


</body>
</html>
