<section>
    <div class="block">
        <div data-velocity="-.1"
             style="background: url() repeat scroll 50% 422.28px transparent;"
             class="parallax scrolly-invisible layer color light"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading light">
                        <h2>Kind Words From Happy Candidates</h2>
                        <!-- <span>What other people thought about the service provided by JobHunt</span> -->
                    </div><!-- Heading -->
                    <div class="reviews-sec" id="reviews-carousel">
                        <div class="col-lg-6">
                            <div class="reviews" style="height: 220px;"><!--
                                    <img src="http://placehold.it/101x101" alt=""/>
 -->                                    <h3>Bhashwar Ghosh <span>Inthree Access Pvt. Ltd.,Chennai</span></h3>
                                <p>Working in a startup is really amazing experience. The work environment in the startup is really open, and promotes diversified learning!</p>
                            </div><!-- Reviews -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews" style="height: 220px;"><!--
                                    <img src="http://placehold.it/101x101" alt=""/> -->
                                <h3>Mritunjoy Das <span> Purpule, Bangalore</span></h3>
                                <p>Overall an amazing experience! The primary reason to select startups over the companies was the learning experience, and credibility of the work that is done!
                                </p>
                            </div><!-- Reviews -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews" style="height: 220px;"><!--
                                    <img src="http://placehold.it/101x101" alt=""/> -->
                                <h3>Ojas Jain <span>Inthree Access Pvt. Ltd.,Chennai</span></h3>
                                <p>Got an opportunity to interact with all sorts of people, interactions with almost everyone in the startup, also had loads of celebration at various occassions!</p>
                            </div><!-- Reviews -->
                        </div>

                        <div class="col-lg-6">
                            <div class="reviews" style="height: 220px;">

                                <h3>Gaurav Patil <span>Orangewood Labs, Noida</span></h3>
                                <p>My one line of code was worth around Rs. 300 to the startup, which made me competent
                                    enough during my internship. You can be Polymag during your internship, Startups are
                                    really-really open for multitasking!</p>
                            </div><!-- Reviews -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews" style="height: 220px;"><!--
                                    <img src="http://placehold.it/101x101" alt=""/>
 -->                                    <h3>Pranav Pawar <span>Inthree Access Pvt. Ltd.,Chennai</span></h3>
                                <p>My experience with Inthree Access was awesome because my mentor and other colleagues helped me a lot to excel my skills. Thanks to E-Cell, IIT Madras to give me an opportunity to show my skills and work with such a great startup!</p>
                            </div><!-- Reviews -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>