<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>InternFair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">
    <meta name="google-signin-client_id"
          content="869757478663-gnlmvb29d5mduo26mrq595svsojrgsus.apps.googleusercontent.com">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/jobhunt/css/icons.css">
    <link rel="stylesheet" href="/jobhunt/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt//chosen.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt/css/colors/colors.css"/>
    <link rel="stylesheet" type="text/css" href="/jobhunt//bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

</head>
<body>
<% include ../common/navbar_dark.ejs %>
<div class="page-loading">
	<img src="images/loader.gif" alt="" />
	<!-- <span>Skip Loader</span> -->
</div>

<div class="theme-layout" id="scrollup">



	<section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Why Intern at Startup?</h3>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="faqs">
							<div class="faq-box">
								<h2>You will have real Responsibility <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>At an early-stage startup, time is valuable, and every team member is critical—including interns. This means that you’ll be working on projects that directly impact users, and probably immediately.
									</p>
								</div>
							</div>
							<div class="faq-box">
								<h2>Get to know how a company is made!!<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>As an intern for a large company, your exposure is often limited to the small portion that you’re working on directly.But in a startup, it’s almost impossible not to. Whether it’s overhearing design debates at the next table or chatting with the head of engineering over lunch, being part of a small team means that you’ll naturally be around every part of the company, and most startups actively ensure that everyone stays in the loop.
									</p>
								</div>
							</div>
							<div class="faq-box">
								<h2>Hands On Multiple Experience-<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>Lack of technical skills, besides, is a main barrier for entry to core-sector internships, especially for students in their first year and second year. In such a situation, interning at a startup might serve not only as a learning experience, but also an opportunity to leverage their aptitudes.</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<% include ../common/footer.ejs %>

</div>

<% include ../common/login.ejs %><!-- LOGIN POPUP -->

<% include ../common/signup.ejs %><!-- SIGNUP POPUP -->

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/jobhunt/js/jquery.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/modernizr.js" type="text/javascript"></script>
<script src="/jobhunt/js/script.js" type="text/javascript"></script>
<script src="/jobhunt/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/wow.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/slick.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/parallax.js" type="text/javascript"></script>
<script src="/jobhunt/js/select-chosen.js" type="text/javascript"></script>

</body>
</html>

