<!DOCTYPE html>
<html>
<head>
<% include ../common/header.ejs%>

</head>
<body>
<% include ../common/navigation/navbar_dark.ejs %>
<div class="page-loading">
    <img src="../../jobhunt/images/loader.gif" alt=""/>
    <!-- <span>Skip Loader</span> -->
</div>

<div class="theme-layout" id="scrollup">


    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Why Intern at Startup?</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faqs">
                            <div class="faq-box">
                                <h2>You will have real Responsibility <i class="la la-minus"></i></h2>
                                <div class="contentbox">
                                    <p>At an early-stage startup, time is valuable, and every team member is
                                        critical—including interns. This means that you’ll be working on projects that
                                        directly impact users, and probably immediately.
                                    </p>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h2>Get to know how a company is made!!<i class="la la-minus"></i></h2>
                                <div class="contentbox">
                                    <p>As an intern for a large company, your exposure is often limited to the small
                                        portion that you’re working on directly.But in a startup, it’s almost impossible
                                        not to. Whether it’s overhearing design debates at the next table or chatting
                                        with the head of engineering over lunch, being part of a small team means that
                                        you’ll naturally be around every part of the company, and most startups actively
                                        ensure that everyone stays in the loop.
                                    </p>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h2>Hands On Multiple Experience-<i class="la la-minus"></i></h2>
                                <div class="contentbox">
                                    <p>Lack of technical skills, besides, is a main barrier for entry to core-sector
                                        internships, especially for students in their first year and second year. In
                                        such a situation, interning at a startup might serve not only as a learning
                                        experience, but also an opportunity to leverage their aptitudes.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../common/footer.ejs %>

</div>



</body>
</html>

