<!DOCTYPE html>
<html>
<head>

    <% include ../../common/header.ejs %>

</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../../../common/navigation/navbar_light.ejs %>
    <% include ../../common/welcome_pane.ejs %>

    <!--<section class="overlape">-->
        <!--<div class="block no-padding">-->
            <!--<div data-velocity="-.1"-->
                 <!--style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"-->
                 <!--class="parallax scrolly-invisible no-parallax"></div>&lt;!&ndash; PARALLAX BACKGROUND IMAGE &ndash;&gt;-->
            <!--<div class="container fluid">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<div class="inner-header wform">-->
                            <!--<div class="job-search-sec">-->
                                <!--<div class="job-search">-->
                                    <!--<h4>Explore Thousand Of Internships With Just Simple Search...</h4>-->
                                    <!--<form>-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-lg-7">-->
                                                <!--<div class="job-field">-->
                                                    <!--<input type="text"-->
                                                           <!--placeholder="Internship title, keywords or startup name"/>-->
                                                    <!--<i class="la la-keyboard-o"></i>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-lg-4">-->
                                                <!--<div class="job-field">-->
                                                    <!--<input type="text" placeholder="Chennai"/>-->
                                                    <!--<i class="la la-map-marker"></i>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-lg-1">-->
                                                <!--<button type="submit"><i class="la la-search"></i></button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- <div class="filterbar">
                            <h5>98 Jobs & Vacancies</h5>
                            <div class="sortby-sec">
                                <span>Sort by</span>
                                <select data-placeholder="Most Recent" class="chosen">
                                    <option>Most Recent</option>
                                    <option>Most Recent</option>
                                    <option>Most Recent</option>
                                    <option>Most Recent</option>
                                </select>
                                <select data-placeholder="20 Per Page" class="chosen">
                                    <option>30 Per Page</option>
                                    <option>40 Per Page</option>
                                    <option>50 Per Page</option>
                                    <option>60 Per Page</option>
                                </select>
                            </div>
                        </div> -->
                        <%include list_refractor.ejs%>
                        <!--<div class="pagination">-->
                            <!--<ul>-->
                                <!--<li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>-->
                                <!--<li><a href="">1</a></li>-->
                                <!--<li class="active"><a href="">2</a></li>-->
                                <!--<li><a href="">3</a></li>-->
                                <!--<li><span class="delimeter">...</span></li>-->
                                <!--<li><a href="">14</a></li>-->
                                <!--<li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash; Pagination &ndash;&gt;-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../../../common/footer.ejs %>

</div>



</body>
</html>