<div class="col-lg-9 column" id="applied_internship_app" style="display: none;">
    <div class="padding-left"> 
        <div class="manage-jobs-sec" style="overflow-x: auto;">
            <h3>Manage Internships</h3>

            <center v-if="!internship_applied_list.length>0">

                <img src="/images/box.png" style="height: 100px;margin-top: 100px;">
                <h6 style="margin-bottom: 100px;">No Internship applied till now</h6>
            </center>
            
            <table v-if="internship_applied_list.length>0">
                <thead>
                <tr>
                    <td>Applied Internships</td>
                    <td>Position</td>
                    <td>Resume URL</td>
                    <td>Status</td>
                    <!--<td>Preference</td>-->
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="internship in internship_applied_list">
                    <td>
                        <div class="table-list-title">
                            <i>{{internship.startupPostByinternshipId.startupDetailsBystartupDetailsId.startup_name}}</i><br/>
                            <span><i class="la la-map-marker"></i>{{internship.startupPostByinternshipId.location}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="table-list-title">
                            <h3>{{internship.startupPostByinternshipId.internship_profile}}
                            </h3>
                        </div>
                    </td>
                    <td>
                        <div class="table-list-title">
                            <h3><a :href="internship.resume_url" title="">resume link</a>
                            </h3>
                        </div>
                    </td>
                    <td>
                        <div class="table-list-title">
                            <h3>{{internship.status}}
                            </h3>
                        </div>
                    </td>
                    <!--<td>-->
                    <!--<span><div class="pf-field">-->
                    <!--<select data-placeholder="Please Select Specialism" class="chosen">-->
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--<option>3</option>-->
                    <!--<option>4</option>-->

                    <!--</select>-->
                    <!--</div></span><br/>-->
                    <!--</td>-->
                    <td>
                        <ul class="action_job">
                            <li @click="delete_applied_internship(internship.id)"><span>Delete</span><a title=""><i
                                            class="la la-trash-o"></i></a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        
        </div>
    </div>
</div>
<script>
    let applied_internship_app = new Vue({
        el: "#applied_internship_app",
        data: {
            students_details: {
                id: 0
            },
            internship_applied_list: [],
        },
        methods: {
            get_students_details: () => {
                if (Cookies.get('student_details') !== undefined) {
                    applied_internship_app.students_details = JSON.parse(Cookies.get('student_details'));
                }
            },
            get_all_applied_internship_list: () => {
                let reqBody = {
                    query_string: '{\n' +
                        '  internship_apply_table(where: {student_id: {_eq: ' + applied_internship_app.students_details.id + '}}) {\n' +
                        '    internship_id\n' +
                        '    resume_url\n' +
                        '    status\n' +
                        '    id\n' +
                        '    startupPostByinternshipId {internship_profile\n' +
                        '    location\n' +
                        '      startupDetailsBystartupDetailsId{\n' +
                        '        startup_name\n' +
                        '      }\n' +
                        '    }\n' +
                        '  }\n' +
                        '}'
                };
                axios.post('/db/anonymous', reqBody)
                    .then(function (response) {
                        console.log(JSON.stringify(response.data));
                        if (response.data.data !== undefined) {
                            if (response.data.data.internship_apply_table.length > 0) {
                                applied_internship_app.internship_applied_list = response.data.data.internship_apply_table;
                            } else {
                                applied_internship_app.internship_applied_list = [];
                            }
                        } else {
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            delete_applied_internship: (id) => {
                let reqBody = {
                    query_string: 'mutation {\n' +
                        '  delete_internship_apply_table(where: {id: {_eq: ' + id + '}}) {\n' +
                        '    affected_rows\n' +
                        '  }\n' +
                        '}'
                };
                axios.post('/db/user', reqBody)
                    .then(function (response) {
                        console.log(JSON.stringify(response.data));
                        if (response.data.data !== undefined) {
                            if (response.data.data.delete_internship_apply_table.affected_rows > 0) {
                                applied_internship_app.get_all_applied_internship_list();
                            }
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }, mounted: function () {
            this.$nextTick(function () {
                this.get_students_details();
                this.get_all_applied_internship_list();
            })
        }
    });

</script>