<div class="col-lg-9 column" id="applied_internship_app" style="display: none;">
    <div class="padding-left">
        <div class="manage-jobs-sec">
            <h3>Manage Internships</h3>
            <table>
                <thead>
                <tr>
                    <td>Applied Internships</td>
                    <td>Position</td>
                    <td>Preference</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="table-list-title">
                            <i>Massimo Artemisis</i><br/>
                            <span><i class="la la-map-marker"></i>Sacramento, California</span>
                        </div>
                    </td>
                    <td>
                        <div class="table-list-title">
                            <h3><a href="#" title="">Web Designer / Developer</a>
                            </h3>
                        </div>
                    </td>
                    <td>
                                                <span><div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" class="chosen">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>

                                                </select>
                                            </div></span><br/>
                    </td>
                    <td>
                        <ul class="action_job">
                            <li><span>Delete</span><a href="#" title=""><i
                                            class="la la-trash-o"></i></a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-lg-12">
                <button type="submit">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    let applied_internship_app = new Vue({
        el : "#applied_internship_app",
        data : {
        }
    });
</script>