<div class="col-lg-9 column" id="bookmark_internship_app" style="display: none;">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <h3>Bookmarks</h3>
                                <table>
                                    <thead>
                                    <tr>
                                        <td>Applied Internships</td>
                                        <td>Position</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="table-list-title">
                                                <i>Massimo Artemisis</i><br/>
                                                <span><i class="la la-map-marker"></i>Sacramento, California</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            </div>
                                        </td>

                                        <td>
                                            <ul class="action_job">
                                                <li><span>Delete</span><a href="#" title=""><i
                                                                class="la la-trash-o"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>