<div class="col-lg-9 column" id="student_info_app">
    <div class="padding-left">
        <div class="profile-form-edit">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="pf-title">Full Name</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Ali TUFAN"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Roll No.</span>
                        <div class="pf-field">
                            <input type="text" placeholder="ME15B036"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span class="pf-title">College</span>
                        <div class="pf-field">
                            <input type="text" placeholder="IITM"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span class="pf-title">Branch</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Mechanical Engineering"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span class="pf-title">CGPA</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Mechanical Engineering"/>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="contact-edit">
            <h3>Contact</h3>
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="pf-title">Contact Number</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Ali TUFAN"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Alternate Number</span>
                        <div class="pf-field">
                            <input type="text" placeholder="ME15B036"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Email</span>
                        <div class="pf-field">
                            <input type="text" placeholder="IITM"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Alternate Email</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Mechanical Engineering"/>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <button type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let student_info_app = new Vue({
        el : "#student_info_app",
        data : {
            user_details: {
                email : ""
            },
            students_details: {
                id : 0,
                full_name: "",
                roll_num: "",
                contact_number: "",
                payment_link: "",
                payment_request_id: "",
                college : "",
                branch : "",
                cgpa: "",
                alt_contact_number : "",
                alt_email : "",
                resume_url : ""
            },
        },
        methods : {
            get_students_details : ()=>{

            }
        }
    });
</script>