<div class="col-lg-9 column" id="student_info_app" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div class="padding-left">
        <div class="profile-form-edit">
            <form>
                <div class="row">
                    <!--<div class="col-lg-12" style="margin-top: 10px;" v-if="!student_details.is_paid">-->
                    <!--<div class="alert alert-success">-->
                    <!--<strong>Info:</strong> You must fill all the necessary information below and pay ₹250 before-->
                    <!--applying for the internship <br>Although you can <a style="color: #721c24;"-->
                    <!--href="/student/internship/list">browse-->
                    <!--internship</a> before paying.-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-lg-12" style="margin-top: 10px;" v-if="!student_details.is_paid">
                        <div class="alert alert-warning">
                            You are late. <b>28 Feb 11:59 pm</b> was the deadline so you can't apply for internship
                            now<br>Although you
                            can <a style="color: #721c24;"
                                   href="/student/internship/list">browse
                                internship</a>.</br>
                            See you soon :)
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <span class="pf-title">Full Name</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Sangeeta Saikia" v-model="student_details.full_name"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Roll No.</span>
                        <div class="pf-field">
                            <input type="text" placeholder="AE16B109" v-model="student_details.roll_num"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span class="pf-title">College</span>
                        <div class="pf-field">
                            <input type="text" placeholder="IITM" v-model="student_details.college"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span class="pf-title">Branch</span>
                        <div class="pf-field">
                            <input type="text" placeholder="Food Technology" v-model="student_details.branch"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span class="pf-title">CGPA</span>
                        <div class="pf-field">
                            <input type="number" placeholder="8" v-model="student_details.cgpa"/>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="contact-edit">
            <h3>Contact</h3>
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="pf-title">Contact Number</span>
                        <div class="pf-field">
                            <input type="text" placeholder="9876543210" v-model="student_details.contact_number"
                                   readonly/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Alternate Number</span>
                        <div class="pf-field">
                            <input type="text" placeholder="9876543210" v-model="student_details.alt_contact_number"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Email</span>
                        <div class="pf-field">
                            <input type="email" placeholder="anna@kolenchery.net" v-model="user_details.email"
                                   readonly/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Alternate Email</span>
                        <div class="pf-field">
                            <input type="email" placeholder="anna@kolenchery.net" v-model="student_details.alt_email"/>
                        </div>
                    </div>


                </div>
            </form>
            <!--<div class="col-lg-12" v-if="!student_details.is_paid">-->
            <!--<button type="submit" onclick="onButtonClick()">Save And Pay ₹250</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<script>
    let student_info_app = new Vue({
        el: "#student_info_app",
        data: {
            user_details: {
                email: ""
            },
            student_details: {
                id: 0,
                full_name: "",
                roll_num: "",
                contact_number: "",
                payment_link: "",
                payment_request_id: "",
                college: "",
                branch: "",
                cgpa: "",
                alt_contact_number: "",
                alt_email: "",
                resume_url: "",
                is_paid: false
            },
        },
        methods: {
            get_students_details: () => {
                let reqBody = {
                    query_string: '{\n' +
                        '  student_details(where: {user_hid: {_eq: "' + JSON.parse(Cookies.get('auth_details')).h_id + '"}}) {\n' +
                        '    id\n' +
                        '    full_name\n' +
                        '    roll_num\n' +
                        '    contact_number\n' +
                        '    college\n' +
                        '    branch\n' +
                        '    cgpa\n' +
                        '    alt_contact_number\n' +
                        '    alt_email\n' +
                        '    resume_url\n' +
                        '    payment_link\n' +
                        '    payment_request_id\n' +
                        '    payment_id\n' +
                        '    is_paid\n' +
                        '  }\n' +
                        '}\n'
                };

                axios.post('/db/user', reqBody)
                    .then(function (response) {
                        if (response.data.errors === undefined) {
                            console.log(JSON.stringify(response.data));

                            if (response.data.data.student_details.length > 0) {
                                student_info_app.student_details = response.data.data.student_details[0];
                            }
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get_user_details: () => {
                student_info_app.user_details = JSON.parse(Cookies.get('user_details'));
            },
            save_student_details: () => {
                let reqBody = {
                    query_string: 'mutation {\n' +
                        '  update_student_details(where: {id: {_eq: ' + student_info_app.student_details.id + '}}, _set: {college: "' + student_info_app.student_details.college + '", branch: "' + student_info_app.student_details.branch + '", cgpa: "' + student_info_app.student_details.cgpa + '", alt_email: "' + student_info_app.student_details.alt_email + '", alt_contact_number: "' + student_info_app.student_details.alt_contact_number + '", is_paid: ' + student_info_app.student_details.is_paid + ', payment_id: "' + student_info_app.student_details.payment_id + '"}) {\n' +
                        '    affected_rows\n' +
                        '  }\n' +
                        '}\n'
                };

                axios.post('/db/user', reqBody)
                    .then(function (response) {
                        if (response.data.errors === undefined) {
                            if (response.data.data.update_student_details.affected_rows > 0) {
                                student_register_fragment.is_registered = true;
                            }
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
        }, mounted: function () {
            this.$nextTick(function () {
                if (Cookies.get('auth_details') !== undefined) {
                    this.get_students_details();
                }
                if (Cookies.get('user_details') !== undefined) {
                    this.get_user_details();
                }
            })
        }
    });
</script>
<script>
    /* Start client-defined Callback Handler Functions */
    function onOpenHandler() {
    }

    function onCloseHandler() {
    }

    function onPaymentSuccessHandler(response) {
        student_info_app.student_details.payment_id = response.paymentId;
        student_info_app.student_details.is_paid = true;
        console.log('Payment Success Response', response);
        student_info_app.save_student_details();

    }

    function onPaymentFailureHandler(response) {
        alert('Payment Failure');
    }

    /* End client-defined Callback Handler Functions */

    /* Configuring Handlers */
    Instamojo.configure({
        handlers: {
            onOpen: onOpenHandler,
            onClose: onCloseHandler,
            onSuccess: onPaymentSuccessHandler,
            onFailure: onPaymentFailureHandler
        }
    });

    function onButtonClick() {

        if (student_info_app.student_details.college === undefined || student_info_app.student_details.college === '' || student_info_app.student_details.college === null) {
            // Instamojo.open('https://test.instamojo.com/@joydassudipta/ld78574a5535f444b904c35b9bbe673a6/');
            // Instamojo.open(student_info_app.student_details.payment_link);
            alert("Enter college name pliz");
        } else if (student_info_app.student_details.cgpa === undefined || student_info_app.student_details.cgpa === '' || student_info_app.student_details.cgpa === null) {
            alert("Enter cgpa pliz");
        } else if (student_info_app.student_details.branch === undefined || student_info_app.student_details.branch === '' || student_info_app.student_details.branch === null) {
            alert("Enter Branch pliz");
        } else {
            if (confirm("Please make sure all information are correct because you can't change this information later")) {
                Instamojo.open(student_info_app.student_details.payment_link);
            }
        }


    }
</script>