<!DOCTYPE html>
<html>
<head>
    <% include ../common/header.ejs %>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../../common/navigation/navbar_light.ejs %>
    <!-- MENU -->

    <% include ../common/welcome_pane.ejs %>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <section>
                        <div class="block no-padding">
                            <div class="container">
                                <div class="row no-gape">
                                    <aside class="col-lg-3 column border-right">

                                        <% include menu.ejs %>

                                    </aside>
                                    <% include details_fragment.ejs %>
                                    <% include applied_internship_fragment.ejs %>
                                    <% include shortlisted_intenship_fragment.ejs %>
                                    <% include bookmark_internship_fragment.ejs %>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <% include ../../common/footer.ejs %>
</div>
<script>
    let ids = ["student_info_app", "applied_internship_app", "shortlisted_internship_app", "bookmark_internship_app"];
    let select_fragment = (id) => {
        for (let i = 0; i < ids.length; i++) {
            if (id === ids[i]) {
                document.getElementById(ids[i]).style.display = "block";
            } else {
                document.getElementById(ids[i]).style.display = "none";
            }
        }
    }
</script>


</body>
</html>
