<div class="widget">
    <div class="tree_widget-sec">
        <ul>
            <li class="inner-child">
                <a onclick="select_fragment('student_info_app')" title=""><i class="la la-user"></i>Dashboard</a>

            </li>
            <li class="inner-child">
                <a onclick="select_fragment('applied_internship_app')" title=""><i class="la la-briefcase"></i>Applied Internships</a>
            </li>
            <li class="inner-child">
                <a onclick="select_fragment('shortlisted_internship_app')" title=""><i class="la la-money"></i>Shortlisted</a>
            </li>

            <li class="inner-child">
                <a href="/job_list" title=""><i class="la la-file-text"></i>View Internships </a>
            </li>
            <li class="inner-child">
                <a href="/candidates_bookmarks" title=""><i class="la la-flash"></i>Bookmarks</a>

            </li>
            <li><a onclick="signOut()" title=""><i class="la la-unlink"></i>Logout</a></li>
        </ul>
    </div>
</div>

<script>
    let goto = (url)=>{
        location.href = url;
    }


</script>