<div class="col-lg-9 column" id="shortlisted_internship_app" style="display: none;">
    <div class="padding-left">
        <div class="manage-jobs-sec">
            <h3>Shortlisted Internships</h3>
            <table>
                <thead>
                <tr>
                    <td>Applied Internships</td>
                    <td>Position</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                <!--<td>-->
                <!--<div class="table-list-title">-->
                <!--<i>Massimo Artemisis</i><br/>-->
                <!--<span><i class="la la-map-marker"></i>Sacramento, California</span>-->
                <!--</div>-->
                <!--</td>-->
                <!--<td>-->
                <!--<div class="table-list-title">-->
                <!--<h3><a href="#" title="">Web Designer / Developer</a></h3>-->
                <!--</div>-->
                <!--</td>-->

                <!--<td>-->
                <!--<div class="table-list-title">-->
                <!--<h3><a href="#" title="">Web Designer / Developer</a></h3>-->
                <!--</div>-->
                <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>

        </div>
    </div>
</div>
