<style >
    @media onlyscreen and (max-width: 600px;){
        .logo{
            margin-left: 200px;
        }
    }
</style>
<footer>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-12 column" style="display: flex; justify-content: center; ">
                    <center>
                        <a href="https://esummitiitm.com/" title=""><img src="/jobhunt/images/ecell.png" alt=""
                                                                         height="120px" width="150px"/ ></a>
                        <div class="widget">
                            <div class="about_widget">

                                <!-- <span>Collin Street West, Victor 8007, Australia.</span>
                                <span>+1 246-345-0695</span>
                                <span>info@jobhunt.com</span> -->
                                <div class="social">
                                    <center>
                                        <a href="https://www.facebook.com/ECELLIITM/" style="margin-left: 40px" title=""><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/ecelliitm?lang=en" title=""><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com/company/e-cell-iitm/" title=""><i class="fab fa-linkedin-in"></i></a>

                                    </center>
                                </div>
                            </div><!-- About Widget -->
                    </div>

                </center>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom-line">
        <span>© Developed by Web Operations, Entrepreneurship Cell IIT Madras </span>
        <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
    </div>
</footer>