<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>InternFair</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="CreativeLayers">
<meta name="google-signin-client_id"
      content="869757478663-gnlmvb29d5mduo26mrq595svsojrgsus.apps.googleusercontent.com">

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/jobhunt/css/bootstrap-grid.css"/>
<link rel="stylesheet" href="/jobhunt/css/icons.css">
<link rel="stylesheet" href="/jobhunt/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/jobhunt/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/jobhunt/css/responsive.css"/>
<link rel="stylesheet" type="text/css" href="/jobhunt/css/chosen.css"/>
<link rel="stylesheet" type="text/css" href="/jobhunt/css/colors/colors.css"/>
<link rel="stylesheet" type="text/css" href="/jobhunt/css/bootstrap.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://js.instamojo.com/v1/checkout.js"></script>
<script src="/jobhunt/js/jquery.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/modernizr.js" type="text/javascript"></script>
<script src="/jobhunt/js/script.js" type="text/javascript"></script>
<script src="/jobhunt/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/wow.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/slick.min.js" type="text/javascript"></script>
<script src="/jobhunt/js/parallax.js" type="text/javascript"></script>
<script src="/jobhunt/js/select-chosen.js" type="text/javascript"></script>

<script>
    if(location.hostname === "esummitiitm.com"){
        location.href = "internfair.tk/"+location.pathname;
    }
</script>