<!DOCTYPE html>
<html>
<head>
    <% include ../common/header.ejs %>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../../common/navigation/navbar_light.ejs %>
    <!-- MENU -->
    <% include ../common/welcome_pane.ejs %>
    <section>
        <% include post_fragment.ejs %>
    </section>
    <% include ../../common/footer.ejs %>
</div>
</body>
</html>
