<!DOCTYPE html>
<html>
<head>
<%include ../../common/header.ejs%>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../../common/navbar_dark.ejs %>
    <!-- MENU -->


    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <% include list.ejs %>
                </div>
            </div>
        </div>
    </section>
    <% include ../../common/footer.ejs %>
</div>
<% include ../../common/student_register.ejs %>
<% include ../../common/startup_register.ejs %>



</body>
</html>
