<section>
    <div class="block" id="internship_detail_fragment">
        <div class="container">
            <div class="row">
                <div v-if="!students_details.is_paid" class="col-lg-8 column alert alert-success" style="margin: 10px;">
                    <span style="font-size: smaller">you need to pay ₹250 before applying.</span>
                </div>
                <div v-if="is_applied" class="col-lg-8 column alert alert-success" style="margin: 10px;">
                    <span style="font-size: smaller">You already applied for this internship.</span>
                </div>
                <div v-if="is_max_reached && !is_applied" class="col-lg-8 column alert alert-danger" style="margin: 10px;">
                    <span style="font-size: smaller">You crossed the max limit of applying internship.</span>
                </div>
                <div class="col-lg-8 column alert alert-warning" style="margin: 10px;">
                    <span style="font-size: smaller">Sorry you are late try next year :) </span>
                </div>
                <div class="col-lg-8 column">
                    <div class="job-single-sec">
                        <div class="job-single-head2">
                            <div class="job-title2"><h3>{{startup_post.internship_profile}}</h3><span class="job-is ft">{{startup_post.duration}}</span>
                                <!--<i class="la la-heart-o"></i>-->
                            </div>
                            <ul class="tags-jobs">
                                <li><i class="la la-map-marker"></i> {{startup_post.location}}</li>
                                <li><i class="la la-money"></i> Monthly Salary : <span>{{startup_post.stipend}}</span>
                                </li>
                                <li><i class="la la-calendar-o"></i> Vacancies: {{startup_post.interns_number}}</li>
                            </ul>
                            <span style="padding-left: 32px;"> IITM Research Park : {{startup_post.research_park_startup}}</span>
                        </div><!-- Job Head -->
                        <div class="job-details">
                            <h3>About the Startup</h3>

                            <p style="white-space: pre-line; display: block; margin-right: 90px;">
                                {{startup_post.startupDetailsBystartupDetailsId.about}}

                            </p>
                            <h3>Internship Description</h3>
                            <p style="white-space: pre-line;">{{startup_post.description}}</p>
                            <h3>Required Knowledge, Skills, and Abilities</h3>
                            <ul>
                                <li style="white-space: pre-line;">{{startup_post.skill_requirement}}
                                </li>

                            </ul>
                            <h3>Specific Requirements</h3>
                            <ul>
                                <li style="white-space: pre-line;">{{startup_post.specific_requirement}}</li>

                            </ul>

                            <h3>Incentives</h3>
                            <ul>
                                <li style="font-weight: bold;">Stipend : {{startup_post.stipend}}</li>
                                <li style="font-weight: bold;">Accomodation : {{startup_post.accomodation}}</li>
                                <li style="font-weight: bold;">Travel Allowance : {{startup_post.travel_allowance}}</li>
                                <li style="font-weight: bold;">Other : {{startup_post.other_incentives}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 column">
                    <div class="job-single-head style2">
                        <div><img :src="startup_post.startupDetailsBystartupDetailsId.logo_url"
                                  alt="" style="height: 100px;"/></div>
                        <div class="job-head-info">
                            <h4>{{startup_post.startupDetailsBystartupDetailsId.startup_name}}</h4>
                            <span>{{startup_post.location}}</span>
                            <p><i class="la la-unlink"></i><a
                                        :href="startup_post.startupDetailsBystartupDetailsId.website">{{startup_post.startupDetailsBystartupDetailsId.website}}</a>
                            </p>
                        </div>
                        <div v-if="resume_url" style="margin-bottom: 10px;">
                            <a :href="resume_url" style="font-size: x-small;color: #0b1b46;"> <img
                                        src="/images/resume.png" style="height: 20px;margin-right: 5px;">{{resume_url}}</a><br>

                        </div>
                        <a title="" class="apply-job-btn"
                           v-if="students_details.is_paid && !is_applied && !is_max_reached && resume_url"
                           @click="apply_internship"><i
                                    class="la la-paper-plane"></i>Apply</a>
                        <a title="" class="apply-job-btn"
                           v-if="students_details.is_paid && !is_applied && !is_max_reached && !resume_url"
                           @click="open_widget"><i
                                    class="fa fa-file-upload"></i>Upload Resume</a>
                        <a style="color: #0b1b46;font-size: small" v-if="!resume_url"><i class="fas fa-info-circle"></i>
                            You should upload pdf file only</a>

                        <a v-if="is_max_reached && !is_applied" style="color: #0b1b46;font-size: small"><i
                                    class="fas fa-info-circle"></i> You crossed the max limit of applying internship</a>

                    </div><!-- Job Head -->
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let internship_detail_fragment = new Vue({
        el: "#internship_detail_fragment",
        data: {
            resume_url: null,
            students_details: {
                is_paid: false,
                id: 0
            },
            is_applied: false,
            is_max_reached: false,
            startup_post: {
                id: 0,
                internship_title: "",
                description: "",
                attachement_url: "",
                internship_profile: "",
                duration: "",
                stipend: "",
                interns_number: "",
                location: "",
                research_park_startup: "",
                skill_requirement: "",
                specific_requirement: "",
                accomodation: "",
                travel_allowance: "",
                other_incentives: "",
                address: "",
                startupDetailsBystartupDetailsId: {
                    startup_name: "Accomox",
                    about: "cool startup",
                    logo_url: "",
                    website: ""
                }
            }
        },
        methods: {
            open_widget: () => {
                let myUploadWidget = cloudinary.openUploadWidget({
                        cloudName: "si-portal",
                        uploadPreset: "resumes",
                        //Step 3:  Add list of sources that should be added as tabs in the widget.
                        sources: [
                            "local",
                            "url",
                        ],
                    },
                    function (error, result) {
                        if (result.event === "success") {
                            internship_detail_fragment.resume_url = result.info.secure_url;
                            myUploadWidget.close();
                        }
                    });
            },
            get_internship_detail: () => {
                let reqBody = {
                    query_string: '{\n' +
                        '  startup_post(where: {id: {_eq: <% if (internship_id) { %><%= internship_id %><% } else { %>0<% } %>}}) {\n' +
                        '    internship_title\n' +
                        '    description\n' +
                        '    attachement_url\n' +
                        '    internship_profile\n' +
                        '    duration\n' +
                        '    stipend\n' +
                        '    interns_number\n' +
                        '    location\n' +
                        '    research_park_startup\n' +
                        '    skill_requirement\n' +
                        '    specific_requirement\n' +
                        '    accomodation\n' +
                        '    travel_allowance\n' +
                        '    other_incentives\n' +
                        '    address\n' +
                        '    id\n' +
                        '    startupDetailsBystartupDetailsId {\n' +
                        '      startup_name\n' +
                        '      about\n' +
                        '      logo_url\n' +
                        '      website\n' +
                        '    }\n' +
                        '  }\n' +
                        '}\n'
                };
                axios.post('/db/anonymous', reqBody)
                    .then(function (response) {

                        if (response.data.data !== undefined) {
                            if (response.data.data.startup_post[0] !== undefined) {
                                internship_detail_fragment.startup_post = response.data.data.startup_post[0];
                                internship_detail_fragment.check_if_applied();
                            }
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            apply_internship: () => {
                if (confirm("Are you sure that your resume is correct and you want to apply for this internship?")) {
                    internship_detail_fragment.is_applied = true;
                    let reqBody = {
                        query_string: 'mutation {\n' +
                            '  insert_internship_apply_table(objects: {student_id: ' + internship_detail_fragment.students_details.id + ', internship_id: ' + internship_detail_fragment.startup_post.id + ', resume_url: "' + internship_detail_fragment.resume_url + '"}) {\n' +
                            '    affected_rows\n' +
                            '  }\n' +
                            '}\n'
                    };
                    axios.post('/db/user', reqBody)
                        .then(function (response) {
                            if (response.data.data !== undefined) {
                                if (response.data.data.insert_internship_apply_table.affected_rows > 0) {
                                    internship_detail_fragment.check_if_applied();
                                }
                            } else {
                                internship_detail_fragment.is_applied = false;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }

            },
            get_students_details: () => {
                if (Cookies.get('student_details') !== undefined) {
                    internship_detail_fragment.students_details = JSON.parse(Cookies.get('student_details'));
                }
            },
            check_if_applied: () => {
                let reqBody = {
                    query_string: '{\n' +
                        '  internship_apply_table(where: {student_id: {_eq: ' + internship_detail_fragment.students_details.id + '}}) {\n' +
                        '    internship_id\n' +
                        '    resume_url\n' +
                        '  }\n' +
                        '}\n'
                };
                axios.post('/db/user', reqBody)
                    .then(function (response) {
                        if (response.data.data !== undefined) {
                            if (response.data.data.internship_apply_table.length > 0) {
                                for (let i = 0; i < response.data.data.internship_apply_table.length; i++) {
                                    if (response.data.data.internship_apply_table[i].internship_id === internship_detail_fragment.startup_post.id) {
                                        internship_detail_fragment.is_applied = true;
                                        console.log(JSON.stringify(response.data.data.internship_apply_table[i]));
                                        internship_detail_fragment.resume_url = response.data.data.internship_apply_table[i].resume_url;
                                    }
                                }
                                if (response.data.data.internship_apply_table.length > 4) {
                                    internship_detail_fragment.is_max_reached = true;
                                }

                            }
                        } else {

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            timeSince: (date)=> {

                let seconds = Math.floor((new Date() - date) / 1000);

                let interval = Math.floor(seconds / 31536000);

                if (interval > 1) {
                    return interval + " years";
                }
                interval = Math.floor(seconds / 2592000);
                if (interval > 1) {
                    return interval + " months";
                }
                interval = Math.floor(seconds / 86400);
                if (interval > 1) {
                    return interval + " days";
                }
                interval = Math.floor(seconds / 3600);
                if (interval > 1) {
                    return interval + " hours";
                }
                interval = Math.floor(seconds / 60);
                if (interval > 1) {
                    return interval + " minutes";
                }
                return Math.floor(seconds) + " seconds";
            }
        }, mounted: function () {
            this.$nextTick(function () {
                this.get_students_details();
                this.get_internship_detail();
            })
        }
    });

    function time_ago(time) {

        switch (typeof time) {
            case 'number':
                break;
            case 'string':
                time = +new Date(time);
                break;
            case 'object':
                if (time.constructor === Date) time = time.getTime();
                break;
            default:
                time = +new Date();
        }
        var time_formats = [
            [60, 'seconds', 1], // 60
            [120, '1 minute ago', '1 minute from now'], // 60*2
            [3600, 'minutes', 60], // 60*60, 60
            [7200, '1 hour ago', '1 hour from now'], // 60*60*2
            [86400, 'hours', 3600], // 60*60*24, 60*60
            [172800, 'Yesterday', 'Tomorrow'], // 60*60*24*2
            [604800, 'days', 86400], // 60*60*24*7, 60*60*24
            [1209600, 'Last week', 'Next week'], // 60*60*24*7*4*2
            [2419200, 'weeks', 604800], // 60*60*24*7*4, 60*60*24*7
            [4838400, 'Last month', 'Next month'], // 60*60*24*7*4*2
            [29030400, 'months', 2419200], // 60*60*24*7*4*12, 60*60*24*7*4
            [58060800, 'Last year', 'Next year'], // 60*60*24*7*4*12*2
            [2903040000, 'years', 29030400], // 60*60*24*7*4*12*100, 60*60*24*7*4*12
            [5806080000, 'Last century', 'Next century'], // 60*60*24*7*4*12*100*2
            [58060800000, 'centuries', 2903040000] // 60*60*24*7*4*12*100*20, 60*60*24*7*4*12*100
        ];
        var seconds = (+new Date() - time) / 1000,
            token = 'ago',
            list_choice = 1;

        if (seconds == 0) {
            return 'Just now'
        }
        if (seconds < 0) {
            seconds = Math.abs(seconds);
            token = 'from now';
            list_choice = 2;
        }
        var i = 0,
            format;
        while (format = time_formats[i++])
            if (seconds < format[0]) {
                if (typeof format[2] == 'string')
                    return format[list_choice];
                else
                    return Math.floor(seconds / format[2]) + ' ' + format[1] + ' ' + token;
            }
        return time;
    }

    console.log(time_ago(new Date(1551311999)));
</script>