<!DOCTYPE html>
<html>
<head>
    <%include ../common/header.ejs%>
</head>
<body>

<div class="page-loading">
    <img src="/jobhunt/images/loader.gif" alt=""/>
    <!-- 	<span>Skip Loader</span>
     --></div>

<div class="theme-layout" id="scrollup">
    <!-- MENU -->
    <% include ../../common/navigationbar.ejs %>

    <% include ../common/welcome_pane.ejs %>


    <% include job_single_part.ejs %>


    <% include ../../common/footer.ejs %>

</div>

<% include ../../common/login.ejs %>

<% include ../../common/signup.ejs %>


</body>
</html>